<%- include("header") %>
<h2>This is my About Page</h2>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur ducimus
  tenetur esse nam aut similique expedita! Aliquam voluptas optio voluptate,
  omnis accusamus assumenda quasi quos, praesentium itaque eveniet, minima
  porro.
</p>
<%- include("footer") %>
